
@{
    ViewBag.Title = "SignUp";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Laborator TW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #e9f79dd8;
        background-repeat: no-repeat;
        background-attachment: top;
        background-size: 100%;
    }
</style>
<body>

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color:  rgb(223, 208, 205);">
            <h6 style="font-size:24px">    Sign Up</h6>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color: rgb(230, 202, 197);">
            <br>
            <div class="col-lg-1" style="color: transparent;"></div>
            <div class="container-fluid">
                <div class="col-lg-5">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Nume">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Prenume">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color: rgb(221, 185, 179);">
            <br>
            <div class="col-lg-1" style="color: transparent;"></div>
            <div class="container-fluid">
                <div class="col-lg-5">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Nr de telefon">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Domiciliu">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color: rgb(221, 185, 179);">
            <br>
            <div class="col-lg-1" style="color: transparent;"></div>
            <div class="container-fluid">
                <div class="col-lg-5">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Data nașterii">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color: rgb(221, 185, 179);">
            <br>
            <div class="col-lg-1" style="color: transparent;"></div>
            <div class="container-fluid">
                <div class="col-lg-5">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Confirmă parola">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-3" style="color: transparent;"></div>
        <div class="col-lg-6" style="background-color: rgb(221, 185, 179);">
            <br>
            <div class="col-lg-8" style="color: transparent;"></div>
            <div class="col-lg-1">
                <button class="btn btn-success"> Sign Up <i class="fa fa-flash fa-fw"></i></span></button>
            </div>
            <br><br><br>
        </div>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
