@{
    ViewBag.Title = "Body";
}

<br>
<br>
<div class="container-fluid">
    <div class="col-md-4">
        <div class="col-lg-1" style="background-color: transparent;">
            <div class="col-lg-1" style="background-color: transparent;">
                <i class="fa fa-book" style="color:rgb(238, 132, 93); font-size:60px;">Citeste</i>
            </div>
        </div>
        <br><br><br>
        <div class="col-lg-12" style="background-color: transparent;">
            <h5 style="color:black ; font-size: 20px;"></h5>
            <h5 class="text-justify" style="color: rgb(10, 12, 19); font-size: 14px;">
                Cheia aprofundării cunoștințelor este lectura.
                Cititul ne aduce multe cunoștințe și duce la îmbunătățirea vieții. Conform studiilor, oamenii cei mai bine plătiți citesc*
                în medie de la 2 până la 3 ore zilnic. Cei mai prost plătiți nu citesc deloc. Tinerii din Moldova nu citesc. Concetățenii
                mei(cel puțin 80%) nu au citit sau cumpărat o carte în ultimul an. Potrivit studiilor, 10 la sută dintre moldoveni citesc zilnic,
                14 la sută – o dată pe lună sau mai rar, iar restul nu au deschis o carte în ultimele trei luni.
            </h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-lg-1" style="background-color: transparent;">
            <div class="col-lg-1" style="background-color: transparent;">
                <i class="fa fa-book" style="color:rgb(238, 132, 93); font-size:60px;">Analizeaza</i>
            </div>
        </div>
        <br><br><br>
        <div class="col-lg-12" style="background-color: transparent;">
            <h5 style="color:rgb(110, 145, 228) ; font-size: 20px;"></h5>
            <h5 class="text-justify" style="color: rgb(19, 20, 24); font-size: 14px;">
                “Întotdeauna să citeşti cărţi care te vor face să arăţi bine
                dacă mori în mijlocul lecturii!” (P.J. O’Rourke). Ai putea să crezi că acest citat este scris special pentru fiecare om în parte!
                Aşa şi este. Şi poate că singurul mesaj pe care îl transmite este să citeşti mereu cărţi care te fac fericit pentru ca moartea
                (inclusă şi ea într-o carte, marea carte a vieţii…) să vină doar atunci când eşti pregătit. Sau poate vrea să te facă să păşeşti pe
                tărâmul cărţilor, într-o lume în care mii de cărţi nu desluşesc în tine începutul… Interpretează cum vrei, alege-ţi propria versiune…
                Cartea e doar începutul…
            </h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-lg-1" style="background-color: transparent;">
            <div class="col-lg-1" style="background-color: transparent;">
                <i class="fa fa-book" style="color:rgb(238, 132, 93); font-size:60px;">Gandeste</i>
            </div>
        </div>
        <br><br><br>
        <div class="col-lg-12" style="background-color: transparent;">
            <h5 style="color:black ; font-size: 20px;"></h5>
            <h5 class="text-justify" style="color: rgb(10, 12, 19); font-size: 14px;">
                „Ne place să citim cărți și să vorbim despre ele.
                Adorăm să ne cuibărim mintea și sufletul printre paginile volumelor tipărite cu satisfacția că, prin lectură, reușim să scăpăm
                de povara existenței cotidiene. În ziua de azi, când suntem prinși în vâltoarea unui ocean de informații de dimensiuni excepționale,
                cărțile se ridică cu mândrie din valurile mediocrității informaționale pentru a-și croi drum spre inimile și mințile cititorilor.
                Întotdeauna am perceput cărțile ca pe niște balsamuri ale sufletului și m-am hrănit cu convingerea  că ele au fost și vor continua
                să rămână surse sigure și valoroase de consolidare spirituală și intelectuală.
            </h5>
        </div>
    </div>
</div>
<br>
<div id="r" class="text-right">
    <div class="container-fluid" style="background-color: rgb(221, 220, 218);">
        <div class="row centered">
            <div class="col-lg-10 col-lg-offset-2">
                <h4>UTM, FCIM</h4>
                <h5>Procopenco Natalia TI-183 </h5>
            </div>
        </div>
    </div>
</div>