@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Adm.cshtml";
}
<body class="blank">
    <div class="color-line"></div>
    <div class="container">
        <div class="row">
            <br><br><br><br><br><br>
            <div class="col-md-4" style="color: transparent;"></div>
            <div class="col-md-4">
                <div class="text-center m-b-lg">
                    <h3>Administrator Postări</h3>
                </div>
                <div class="hpanel" >
                    <div class="panel-body">
                        <form action="#" id="">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Introduce denumire</label>
                                    <input type="" value="" id="" class="form-control" name="">
                                </div>
                                <div class=" col-lg-12">
                                    <label>Introduce text</label>
                                    <input type="password" value="" id="" class="form-control" name="">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Introduce autor</label>
                                    <input type="" value="" id="" class="form-control" name="">
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success">Add</button>
                                    <button class="btn btn-default">Cancel</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
